p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../../fonts/roboto-v30-latin_cyrillic/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../../fonts/raleway-v28-latin_cyrillic/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
body {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
  --silver-color: #f5f4fa;
  --grey-color: #afb1b8;
  --light-color: #ffffff;
  --dark-color: #000000;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background: var(--light-color);
  border-bottom: 1px solid var(--silver-color);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
  height: 80px;
}

.nav, .nav__list, .nav__list-item, .nav__link {
  height: 100%;
}
.nav__list-item {
  display: inline-block;
}
.nav__list-item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  position: relative;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--primary-color);
}
.nav__link:hover::after, .nav__link:focus::after {
  background-color: var(--primary-color);
}

.footer {
  padding: 60px;
  background: #2f303a;
}
.footer__content {
  display: grid;
  gap: 70px;
  grid-template-columns: auto auto 1fr;
}
.footer__section:not(:first-child) {
  margin-top: 12px;
}
.footer__section--mailing {
  margin-left: auto;
}
.footer__section-title {
  margin-bottom: 20px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.logo {
  display: block;
  color: var(--primary-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__accent {
  color: var(--dark-color);
}
.logo--footer {
  margin-bottom: 28px;
}
.logo--footer .logo__accent {
  color: var(--light-color);
}

.main-btn {
  display: block;
  min-width: 200px;
  padding: 10px 28px;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
}

.contact__list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__list-item:not(:last-child) {
  margin-right: 40px;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--primary-color);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--primary-color);
}
.contact__link--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.contact__btn {
  margin: 30px auto 0;
}

.hero {
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero-1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
}

.benefits {
  padding: 94px 0;
  background: var(--light-color);
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits__head {
  margin-bottom: 30px;
  padding: 25px;
  background-color: var(--silver-color);
  border-radius: 4px;
  text-align: center;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.benefits__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-us {
  padding-bottom: 94px;
  background: var(--light-color);
}
.about-us__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about-us__list-item {
  position: relative;
}
.about-us__list-item-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.about-us__list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.soc__list-item {
  width: 44px;
  height: 44px;
}
.soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--primary-color);
}
.soc__link--team {
  background-color: transparent;
}
.soc__link--team .soc__icon {
  fill: var(--grey-color);
}
.soc__link--team:hover .soc__icon, .soc__link--team:focus .soc__icon {
  fill: var(--light-color);
}
.soc__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.soc__link--footer .soc__icon {
  fill: var(--light-color);
}
.soc__icon {
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.team {
  background: var(--silver-color);
  padding: 94px 0;
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__list-item {
  background: var(--light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.team__list-item-info {
  padding: 30px;
  background: var(--light-color);
}
.team__list-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team__list-item-skill {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  background: #ffffff;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--primary-color);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--primary-color);
}
.clients__logo {
  fill: var(--grey-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.portfolio {
  padding: 94px 0;
  background-color: var(--light-color);
}
.portfolio__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__tab {
  display: inline-block;
}
.portfolio__tab-btn {
  padding: 6px 22px;
  color: var(--dark-color);
  background: var(--silver-color);
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio__tab-btn:hover, .portfolio__tab-btn:focus {
  color: var(--light-color);
  background: var(--primary-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio__project {
  position: relative;
  background-color: var(--light-color);
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio__project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__project:hover .portfolio__project-cover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__project-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__project-cover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.portfolio__project-info {
  padding: 20px 24px;
  border: 1px solid var(--silver-color);
  border-top: 0;
}
.portfolio__project-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__project-type {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
}
.mailing__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2f303a;
  color: var(--light-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailing__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-webkit-autofill, .mailing__input:-webkit-autofill:hover, .mailing__input:-webkit-autofill:focus, .mailing__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #2f303a inset;
  -webkit-text-fill-color: white;
}
.mailing__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mailing__btn-icon {
  margin-left: 10px;
  fill: var(--light-color);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.modal__backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}
.modal__backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__close:hover, .modal__close:focus {
  fill: var(--primary-color);
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal__heading {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #212121;
}
.modal__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal__input:-webkit-autofill, .modal__input:-webkit-autofill:hover, .modal__input:-webkit-autofill:focus, .modal__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--light-color) inset;
  -webkit-text-fill-color: #212121;
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--primary-color);
  outline: transparent;
}
.modal__input:hover + .modal__input-icon, .modal__input:focus + .modal__input-icon {
  fill: var(--primary-color);
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal__input-group {
  margin-bottom: 10px;
}
.modal__input-group label {
  margin-bottom: 4px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__text {
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 12px;
  color: #212121;
  font-size: 12px;
  resize: none;
  padding: 12px 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:hover, .modal__text:focus {
  border-color: var(--primary-color);
  outline: transparent;
}
.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  pointer-events: none;
}
.modal label.modal__politic-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__politic-check {
  width: 16px;
  height: 16px;
  border: 2px solid #303030;
  border-radius: 4px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__politic-check svg {
  fill: transparent;
}
.modal__politic-input:checked + .modal__politic-label .modal__politic-check {
  border: none;
  background-color: var(--primary-color);
}
.modal__politic-input:checked + .modal__politic-label .modal__politic-check svg {
  fill: var(--light-color);
}
.modal__politic-link {
  color: var(--primary-color);
  text-decoration: underline;
}
.modal__politic-link:hover {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */