.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    width: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    background: #ffffff;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    transition: border-color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus {
      border-color: var(--primary-color);

      .clients__logo {
        fill: var(--primary-color);
      }
    }
  }

  &__logo {
    fill: var(--grey-color);
    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }

  @media screen and (min-width: 768px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0;

    &__title {
      font-size: 36px;
      margin-bottom: 50px;
    }

    &__list {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
