.footer {
  padding: 60px 0;
  background: #2f303a;

  &__content {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  &__section-title {
    margin-bottom: 20px;
    color: var(--light-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--light-color);
  }

  @media screen and (max-width: 767px) {
    &__section {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
    }

    &__section {
      &:not(:last-child) {
        width: calc(50% - 30px);
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 60px;
  }

  @media screen and (min-width: 1200px) {
    &__content {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 70px;
      text-align: left;
    }

    &__section {
      &:not(:first-child) {
        margin-top: 12px;
      }

      &--mailing {
        margin-left: auto;
      }
    }
  }
}
